/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* General */
.skranji {
	font-family: skranji, sans serif;
}

a {
	color: #fff;
	text-decoration: none;
}


/*  Header  */
#header {
	height: 80px;
	background-color: #000;
	color: #fff;
	position: fixed;
	width: 100%;
	z-index: 101;
}
#logo {
	float: left;
	margin-left: 10%;
	line-height: 80px;
	font-size: 34px;
}
#cart {
	float: right;
	margin-right: 10%;
	line-height: 80px;
	font-size: 20px;
}
#cart img {
	height: 30px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}



/*  Main  */
#main-image {
	background-image: url("viking-main.jpg");
	height: 534px;
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
#image-title {
	float: right;
	margin: 420px 10% 0 0;
	color: #fff;
	font-size: 80px;
	clear: both;
}
#main-tagline {
	height: 80px;
	background-color: #000;
	font-size: 60px;
	color: #fff;
	text-align: center;
}
.tagline-text {
	font-size: 60px;
	line-height: 90px;
}
#main-subtagline {
	font-size: 30px;
	text-align: center;
	height: 60px;
	line-height: 60px;
	background-color: #ddd;
	border-top: 2px solid #333;
}



/*  Catalog  */
.catalog-row {
	margin-top: 40px;
	text-align: center;
}
.axe-container-wrapper {
	width: 1120px;
	margin: 0 auto;
}
.axe-container {
	width: 350px;
	height: 506px;
	margin: 0 20px 20px 0;
	display: inline-block;
	background-image: url("item-background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	color: #fff;
	vertical-align: top;
}
.axe-title {
	font-size: 30px;
	padding-top: 25px;
}
.axe-price {
	float: right;
	position: absolute;
	background-color: yellow;
	right: 0px;
	top: 80px;
	z-index: 100;
	padding: 5px 20px 0 20px;
	color: #000;
	font-size: 28px;
	line-height: 40px;
	clear: both;
}
.axe-image {
	width: 350px;
	position: relative;
}
.axe-image img {
	width: 100%;
	margin-top: 20px;
}
.add-to-cart {
	margin-top: 20px;
}
.add-to-cart a {
	padding: 10px 30px;
	line-height: 50px;
	font-size: 20px;
	text-decoration: none;
	background-color: #111;
	margin: 10px auto 0 auto;
	border-radius: 5px;
}
.add-to-cart a:hover {
	background-color: #1483c9;
}
